.containerAbout {
  display: flex;
  justify-content: center;
  background: black;

  .aboutParent {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 95%;

    .introSection {
      display: flex;
      flex-direction: column;
      width: 80%;
      align-self: center;
      padding-top: 100px;
      padding-bottom: 100px;
      gap: 20px;

      span {
        font-family: Manrope;
        font-size: 64px;
        font-weight: 400;
        line-height: 90px;
        letter-spacing: 0em;
        text-align: justify;
        color: #ffffff;

        @media (max-width: 1000px) {
          font-family: Manrope;
          font-size: 44px;
          font-weight: 400;
          line-height: 60px;
          text-align: start;
        }
      }
      button {
        width: 226px;
        height: 82px;
        border-color: #e5c1fb;
        color: #e5c1fb;
        font-family: Manrope;
        font-size: 32px;
        font-weight: 800;
        line-height: 51px;
        letter-spacing: 0em;
        background: transparent;

        @media (max-width: 1000px) {
          width: 150px;
          height: 62px;
          border-color: #e5c1fb;
          color: #e5c1fb;
          font-family: Manrope;
          font-size: 22px;
          font-weight: 700;
          line-height: 41px;
          letter-spacing: 0em;
          background: transparent;
        }
      }
      button:hover {
        cursor: pointer;
      }

      @media (max-width: 1000px) {
        width: 90%;
      }
    }

    .descriptionSection {
      padding-top: 50px;
      padding-bottom: 50px;
      border-top: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      display: flex;
      gap: 30px;

      .span1 {
        font-family: Manrope;
        font-size: 32px;
        font-weight: 800;
        line-height: 51px;
        width: 30%;
        color: #ffffff;
        text-align: center;
        @media (max-width: 1000px) {
          width: 100%;
        }
      }
      .span2 {
        font-family: Manrope;
        font-size: 32px;
        font-weight: 500;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        width: 70%;
        @media (max-width: 1000px) {
          width: 100%;
        }
      }

      @media (max-width: 1000px) {
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }

    .titleSection {
      display: flex;
      flex-direction: column;
      height: 600px;
      width: 60%;
      align-self: center;

      .span1 {
        font-family: Manrope;
        font-size: 96px;
        font-weight: 800;
        line-height: 154px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        align-self: flex-start;

        @media (max-width: 1000px) {
          font-size: 66px;
          font-weight: 600;
          line-height: 124px;
        }
      }
      .span2 {
        font-family: Manrope;
        font-size: 96px;
        font-weight: 800;
        line-height: 154px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        align-self: center;
        @media (max-width: 1000px) {
          font-size: 66px;
          font-weight: 600;
          line-height: 124px;
        }
      }
      .span3 {
        font-family: Manrope;
        font-size: 96px;
        font-weight: 800;
        line-height: 154px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        align-self: flex-end;
        @media (max-width: 1000px) {
          font-size: 66px;
          font-weight: 600;
          line-height: 124px;
        }
      }
    }

    .portfolioSection {
      display: flex;

      .leftSection {
        width: 33%;
        position: relative;
        overflow: hidden;

        .contentdiv {
          position: absolute;

          span {
            font-family: Manrope;
            font-size: 32px;
            font-weight: 400;
            line-height: 45px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
          }
        }
        @media (max-width: 1000px) {
          display: none;
        }
      }
      .centerSection {
        width: 34%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 300px;

        .card {
          width: 90%;
          display: flex;
          flex-direction: column;

          .title2 {
            font-family: Manrope;
            font-size: 46px;
            font-weight: 800;
            line-height: 74px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
          }

          .description {
            font-family: Manrope;
            font-size: 22px;
            font-weight: 600;
            line-height: 35px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
          }
        }
        @media (max-width: 1000px) {
          width: 100%;
        }
      }
      .rightSection {
        width: 33%;
        display: flex;
        align-items: center;
        justify-content: end;

        @media (max-width: 1000px) {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .card {
          width: 90%;
          display: flex;
          flex-direction: column;
          .title2 {
            font-family: Manrope;
            font-size: 46px;
            font-weight: 800;
            line-height: 74px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
          }

          .description {
            font-family: Manrope;
            font-size: 22px;
            font-weight: 600;
            line-height: 35px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
          }
        }
      }

      @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
