.homeContainer {
  overflow: hidden;
  background: #000000;
  .homeParent {
    display: flex;
    flex-direction: column;

    .heroSection {
      height: 60vh;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      .scrollingtext {
        width: 70%;
        overflow: hidden;
        background-color: #f9f9f9;
        padding: 10px;

        .ticker {
          list-style-type: none;
          padding: 0;
          margin: 0;
          white-space: nowrap; /* Prevents text from wrapping */
          animation: tickerAnimation 30s linear infinite; /* Adjust duration as needed */

          li {
            display: inline-block;
            padding: 0 20px;
            font-size: 16px;
            line-height: 1.6;
            color: #333;
          }
        }
        @keyframes tickerAnimation {
          0% {
            transform: translateX(
              100%
            ); /* Start the animation off-screen to the right */
          }
          100% {
            transform: translateX(
              -100%
            ); /* End the animation off-screen to the left */
          }
        }
      }
    }

    .gameSection {
      height: 100vh;
      overflow-x: hidden;
      background-image: url("../../assets/new_images/room1.png");
      display: flex;
      justify-content: center;
      align-items: center;

      .image-container {
        img {
          width: 300px;
          height: 300px;
        }
      }
    }

    .workSection {
      display: flex;
      padding-top: 100px;
      padding-bottom: 100px;
      width: 90%;
      align-self: center;

      .workLeft {
        width: 50%;
        display: flex;
        justify-content: center;

        .textParent {
          display: flex;
          flex-direction: column;
          color: white;
          width: 50%;
          .heading {
            font-family: Manrope !important;
            font-size: 96px;
            font-weight: 800;
            line-height: 154px;
            letter-spacing: 0em;
            text-align: left;
          }
          .body {
            font-family: Manrope;
            font-size: 28px;
            font-weight: 400;
            line-height: 45px;
            letter-spacing: 0em;
          }
        }
        @media (max-width: 1000px) {
          width: 100%;
        }
      }

      .workRight {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 100px;
        overflow: hidden;

        .card {
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: white;

          .cardimage {
            height: 100%;
            cursor: pointer;
          }

          .title1 {
            font-family: Manrope;
            font-size: 38px;
            font-weight: 400;
            line-height: 61px;
            color: #9a9b9f;
          }
          .title2 {
            font-family: Manrope;
            font-size: 46px;
            font-weight: 800;
            line-height: 74px;

            color: #ffffff;
          }
          .btnparent {
            display: flex;
            gap: 10px;
            .btn {
              width: 396px;
              height: 85px;

              font-family: Manrope;
              font-size: 32px;
              font-weight: 400;
              background: #e5c1fb66;
              color: #e5c1fb;
            }
          }
          .description {
            font-family: Manrope;
            font-size: 32px;
            font-weight: 400;
            line-height: 51px;
          }

          @media (max-width: 1000px) {
            padding: 20px;
          }
        }
        @media (max-width: 1000px) {
          width: 100%;
        }
      }

      @media (max-width: 1000px) {
        width: 100%;
        flex-direction: column;
      }
    }
  }
}
