@import url('https://fonts.googleapis.com/css2?family=Itim&family=Just+Another+Hand&family=Manrope:wght@200;300;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


img{
    max-width: 100%;
}

a{
    text-decoration: none !important;
}


.cursor-dot {
    background-color: black !important;
    width: 30px !important;
    height: 30px !important;
    mix-blend-mode: difference;
    z-index: -1;
    border: 0 !important;

}

 .cursor-border{
    border: none !important;
}

.head-hover .cursor-dot {
    width: 50px !important; 
    height: 50px !important;
    background-color: rgb(1, 66, 1) !important;
    z-index: -9999 !important;
    /* mix-blend-mode: difference; */

    
}

.head:hover {
    mix-blend-mode: difference;
    color: white !important;
    position: relative;
    z-index: 9999;
}

.para-hover .cursor-dot {
    background-blend-mode: difference;
    background-color: rgb(1, 66, 1) !important;
}

.para:hover{
    z-index: 1001 !important;
}

.cursor-view{
    /* background-color: black !important; */
    color: white;
    font-size: 12px;
    margin: 0;
}

.children-hover .cursor-dot{
  /* background-color: black; */
    
}